
#tituloPrincipal{
    color:red
}

.parrafos{
    text-align: center;
    color:green;
    font-weight: bold;
   
}
.enfasis{
    background-color:buttonshadow;
    color: red;
}

a{
    
    color: cyan;
    
}
h1,p{
    
    h1{font-size: 2.5em;}
    
}
a:active{
    background-color: red;
    color:white;
    
}  
body h1{
    
    font-family: Times New Roman;
    
}